mat-sidenav-container {
    height: 100%;
  
    mat-sidenav {
  
      mat-nav-list {
        padding: 0px;
        mat-list-item{
          height:65px;
        }
      }
      background-color:#7cb5ec;
    }
  }

  .content{
    mat-toolbar{
      background-color:#7cb5ec;
      color: black;      
    }

  }