<div class="container inputBox">
    <form #inputForm="ngForm" >
        <div class="form-group">
          <label>Enter the sentense</label>
          <input type="text" class="form-control" name="inputText" [(ngModel)]="inputText">
        </div>
        <button [disabled]="inputText == ''" type="submit" class="btn btn-primary" (click)=onSubmit()>Submit</button>
    </form>
    <div class="answer">
        <h4>String given as input : {{previousText}}</h4>
    </div>
    <div class="answer">
        <table class="table table-primary">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Word Count</th>
                <td>{{wordCount}}</td>
              </tr>
              <tr>
                <th scope="row">Number of Vowels</th>
                <td>{{vowelCount}}</td>
              </tr>
              <tr>
                <th scope="row">Number of Articles</th>
                <td>{{articleCount}}</td>
              </tr>
              <tr>
                <th scope="row">Length of the Longest Word</th>
                <td>{{longestWordLength}}</td>
              </tr>
              <tr>
                <th scope="row">Length of the Shortest Word</th>
                <td>{{shortestWordlength}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
